body {
    margin-top: 80px
}

.container {
    width: 370px;
}

.title {
    text-align: center;
    margin-bottom: 80px;
}

.restart {
    margin-top: 25px;
}

.alert {
    text-align: center;
    height: 50px;
}

td {
    width: 100px;
    height: 100px;
}

td:hover {
    background: lightgray;
}

table {
    margin: 5px auto;
}
.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td i {
    margin-left: 15px;
}
